---
extends: default
rules:
  line-length:
    max: 300
  document-start: disable
  truthy:
    check-keys: false
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
